rect.dss-swimlane
{
    fill: white;
    stroke: black;
    stroke-width: 2;
}

line.dss-swimlane
{
    stroke: black;
    stroke-width: 2;
}

rect.dss-activeswimlane
{
    fill: white;
    stroke: black;
    stroke-width: 2;
}

rect.dss-frame
{
    fill: transparent;
    stroke: black;
    stroke-width: 2;
}

text.dss-swimlane
{
    fill: black;
    font-family: 'Arial';
    font-size: 22px;
}

line.dss-call
{
    stroke: black;
    stroke-width: 2;
}

text.dss-call
{
    fill: black;
    font-family: 'Arial';
    font-size: 16px;
}


polygon.dss-call
{
    fill: black;
    stroke: black;
    stroke-width: 1;
}

polyline.dss-call
{
    fill: none;
    stroke: black;
    stroke-width: 2;
}
